/*==========================================
    Стили шапки
============================================*/
.top-menu {
    /*border-bottom: 1px solid #221e66;*/
    font-family: Open sans;
    background-color: #159173;
    overflow: hidden;
}
.top-menu_label{
    display: block;
    float: left;
    box-sizing: border-box;
    font-size: 24px;
    line-height: 103px;
    text-align: center;
    color: #fff;
    width: 35%;
    background-color: #0a8367;
}
.top_willie{
    font-weight: 300;
}
.top_miner{
    font-weight: bold;
}
/*--- Стили кнопок шапки ---*/
.sign-btn{
    display: inline-block;
    float: right;
    box-sizing: border-box;
    box-shadow: -1px 0 2px 0 #0a8367;
    background-color: #0a8367;
    /*position: absolute;*/
    /*top: 35px;*/
    /*right: 10px;*/
    /*transform: translateY(-50%);*/
}
.btn{
    display: block;
    float: right;
    box-sizing: border-box;
    line-height: 105px;
    font-size: 30px;
    color: #fff;
    font-weight: 300;
    background-color: #14896d;
    border: none;
    padding: 0 20px;
    transition-property: background-color;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}
.btn_signin:hover{
    background-color: #1f201f;
}
.btn_signout:hover{
    background-color: #1f201f;
}
.small{
    font-size: 16px;
}
a {
    text-decoration: none;
}

/*--- Стили логотипа ---*/
.open_php{
    color: blueviolet;
}
.close_php{
    color: blueviolet;
}
.open_php::before{
    content: '<';
    display: inline-block;
    color: #221e66;
    font-weight: bold;
}
.open_php::after{
    content: '"';
    color: darkgreen;
    display: inline-block;
}
.close_php::after{
    content: '>';
    display: inline-block;
    color: #221e66;
    font-weight: bold;
}
.close_php::before{
    content: '"';
    color: darkgreen;
    display: inline-block;
}
/*===============================================
    Стили блока с гланым контентом(main)
================================================*/
.main_form {
    display:block;
    box-sizing: border-box;
    float: left;
    width: 35%;
    min-height: 600px;
    background-color: #606360;
}
.main_miner {
    box-sizing: border-box;
    float: right;
    width: 50%;
    min-height: 600px;
}
.border{
    clear: both;
}
/*=================================================
    Стили полвала(footer)
==================================================*/
.footer{
    border-top: 1px solid black;
}
.footer_item{
    float: right;
    width: 30%;
    min-height: 50px;
    margin: 1% 1.5% 1% 0;
    border: 1px solid black;
}
.footer .footer_item:first-child{
    margin-right:3.5%;
}


/*=================================================
    Стили для дополнительных элементов
==================================================*/